@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background:white;
    --foreground: 222.2 84% 4.9%;
    --main:#1977F2;
    --muted: 210 40% 96.1%;
    --light:#ededeee3;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover:white;
    --popover-foreground: 222.2 84% 4.9%;
    --black:#0000001a;
    --page:#F9FBFC;
    --test:#26e998;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --shade:#696969;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 215 20.2% 65.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background:black;
    --foreground: 210 40% 98%;
    --light:#2e2e2ee3;
 
    --page:#0C0D0E;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --main:#1977F2;
    --shade:#E7E9EA;
    --popover:black;
    --popover-foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
 
    --ring: 217.2 32.6% 17.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background font-inter text-foreground text-[13px];
  }
}

a{
  @apply text-main hover:underline decoration-main
}
@layer components{
  .paddingx{
   @apply px-2 xs:px-4 sm:px-6 lg:px-10
  }
  .landingpad{
    @apply px-2 xs:px-4 sm:px-8 md:px-10 xl:px-14
  }
  .isactive{
    @apply relative before:absolute before:bg-main text-main before:h-[2px] sm:before:h-[3px] before:w-[150%] before:-left-[35%] sm:before:w-[200%] before:-bottom-[7px] sm:before:-left-[50%]
  }
  .top-overlay{
    @apply max-md:fixed max-md:py-2 max-md:w-full max-md:z-40  max-md:top-0 max-md:left-0 paddingx
  }
  .default-scroll::-webkit-scrollbar {
    @apply w-[7px] h-[3px]
  }
  .default-scroll::-webkit-scrollbar-thumb{
   @apply bg-border dark:bg-[#96969c]/50 rounded-lg opacity-50
  }
  .full-shadow{
    @apply shadow-[0_0_16px_#0000001f] dark:shadow-[0_0_16px_#ffffff1f]
  }
  .side-active{
    @apply bg-page relative before:absolute before:w-[2px] before:h-[100%] before:-bottom-0 before:bg-main before:-left-[2.5px]
  }
  .profile-popover{
    @apply hover:bg-background px-2 text-foreground bg-background w-full py-2 my-2 flex justify-start items-center
  }
  .set-visibility{
    @apply w-full text-left block rounded-none py-3 cursor-pointer px-2 hover:bg-muted/50
  }
  .pad{
    @apply px-2 sm:px-3
  }
  .flex-center{
    @apply flex items-center
  }
  .bigtext{
    @apply text-sm sm:text-base
  }
  .tinytext{
    @apply text-[11px] sm:text-xs
  }
  .bounceup{
    @apply hover:-translate-y-[2px]  transition-all duration-500
  }
  .tiktok-div{
    @apply rounded-md max-sm:h-[100vh] max-sm:w-full sm:aspect-[9/14] xl:mx-auto max-md:mx-auto max-md:max-w-[380px] md:max-w-[345px] max-w-[425px] relative 
  }
  .chat-bend{
    @apply absolute absolute:top-0 absolute:h-2 
  }
  .fixed-section{
    @apply flex-center w-full md:-translate-y-2 xl:-translate-x-4 xl:max-w-[49%] md:-translate-x-2 lg:-translate-x-8 max-md:left-0 fixed z-10 bg-background py-1 shadow-sm overflow-hidden
  }

}